html, body {
  font-family: monaco;

}

.log_reg {
	display: inline-block;
	text-align: left;
	width: 310px;
}

.button{
	width: 300px;
	margin-bottom: 10px;
	font-size: 20px;
}

#submit {
	height: 100px;
	overflow: auto;
}