html, body {
  font-family: monaco;

}

.log_reg {
	display: inline-block;
	text-align: left;
	width: 310px;
}

.button{
	width: 300px;
	margin-bottom: 10px;
	font-size: 20px;
}

table th{
	border: 1px solid black;
	width: 400px;
	float: left;
	text-align: center;
}

table td{
	border: 1px solid black;
	width: 400px;
	float: left;
	text-align: center;
}

.friend {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}