<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
		<title>Python Project</title>
		<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	</head>
	<body>
		<h1>Delete your account</h1>
		<h4>Are you sure you want to delete your account?</h4>
		<p>First Name: {{ user['first_name'] }}</p>
		<p>Last Name: {{ user['last_name'] }}</p>
		<p>Email: {{ user['email'] }}</p>
		<form action='/delete/destroy' method='post'>
			<button>Delete account</button>
		</form>
	</body>
</html>